/*EB Garamond*/

@font-face {
    font-family: "EB Garamond";
    src: url('../fonts/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/EBGaramond-Regular.woff') format('woff'), */
         /* url('../fonts/EBGaramond-Regular.ttf') format('truetype'); */
         url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond12-regular-webfont.woff') format('woff'),
         url('../fonts/EBGaramond-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  src: url('../fonts/EBGaramond12-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EBGaramond-Italic.otf') format('opentype'),
       url('../fonts/EBGaramond-Italic.ttf') format('truetype');
  font-display: swap;
}

*,
:after,
:before {
    box-sizing: inherit;
}


/* Font family support */
html, html[data-font-family="serif"] {
    --font-family: "EB Garamond";
}

html[data-font-family="sans-serif"] {
    --font-family: sans-serif;
}
html[data-font-family="monospace"] {
    --font-family: monospace;
}

:root {
    --column-width: 67ch;
    --form-width: 50ch;
    --line-width: 0.125rem;
    --line-height: 1.75;

    --one-line: calc(var(--line-height) * 1rem);
    --half-line: calc(var(--one-line) * 0.5);

    font-family: var(--font-family);
}

/**********TAG SELECTORS**********/

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-color: #e8e8e8;
    text-align: center;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    letter-spacing: 0.1em;
}

header {
    margin-bottom: calc(var(--line-height) * 1.5rem);
}

header a {
    text-decoration: none;
}

header h1 {
    color: #a70f0f;
        font-size: 4rem;
    line-height: calc(var(--line-height) * 2rem);
}

footer {
    margin-top: calc(var(--line-height) * 1.5rem);
    font-size: 1.5rem;
    line-height: calc(var(--line-height) * 0.75rem);
}

.generator {
    margin-top: calc(var(--line-height) * 0.5rem);
    font-size: 1rem;
}

h1, h2 {
    color: #a70f0f;
        line-height: calc(var(--line-height) * 1.5rem);
    font-size: 3rem;
}

h3, h4, h5, h6 {
    font-size: 2rem;
    line-height: var(--one-line);
    padding-top: calc(var(--line-height) * 0.75rem);
    margin-bottom: calc(var(--line-height) * 0.25rem);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #a70f0f;
    border-width: 5px;
    width: 100px;
}

a {
    text-decoration: none;
    color: #a70f0f;
}

/**********CLASS SELECTORS**********/

.logo {
    width: 150px;
    height: 150px;
    display: block;
    margin: 35px auto;
    border-radius: 100%;
}

.links {
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    line-height: calc(var(--line-height) * 1.0rem);
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #a70f0f;
    border-radius: 10px;
    cursor: pointer;
    /* border-bottom: 3px solid #a70f0f; */
    /* box-shadow: inset 0 -4px 0 #a70f0f; */
    border: 1px solid #a70f0f;
    background-color: #e8e8e8;
    /* filter: grayscale(20%) opacity(80%); */
}

.links:hover {
    background-color: #a70f0f;
    color: #e8e8e8;
}

/* .url { */
/*     color: inherit; */
/* } */

/* .url:hover{ */
/*     color: inherit; */
/* } */

.logo-img {
    filter: invert(12%) sepia(96%) saturate(3316%) hue-rotate(353deg) brightness(97%) contrast(100%);
}

.logo-img-20 {
    filter: invert(12%) sepia(96%) saturate(3316%) hue-rotate(353deg) brightness(97%) contrast(100%);
    width: 20px;
    height: 20px;
}

.logo-img-19 {
    filter: invert(12%) sepia(96%) saturate(3316%) hue-rotate(353deg) brightness(97%) contrast(100%);
    width: 19px;
    height: 19px;
}

.logo-img-18 {
    filter: invert(12%) sepia(96%) saturate(3316%) hue-rotate(353deg) brightness(97%) contrast(100%);
    width: 18px;
    height: 18px;
}

.logo-img-17 {
    filter: invert(12%) sepia(96%) saturate(3316%) hue-rotate(353deg) brightness(97%) contrast(100%);
    width: 17px;
    height: 17px;
}
